.view button {
  width: 100%;
}

.plus {
  width: 15px;
  margin-left: 5px;
  opacity: 0.2;
}

.minus {
  width: 15px;
  margin-left: 5px;
  opacity: 0.2;
}

.plus:hover {
  opacity: 0.5;
}

.minus:hover {
  opacity: 0.5;
}

.plus:active {
  opacity: 0.9;
}

.minus:active {
  opacity: 0.9;
}
