.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(13, 121, 230, 0.836);
  display: grid;
  grid-template-areas: "inform links";
  grid-template-columns: 1fr 1fr;
}

.informationAboutSite {
  grid-area: inform;
  color: white;
  text-align: left;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links a {
  grid-area: links;
  color: white;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}

.telegramIMG {
  width: 30px;
  float: right;
}
